* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --black: #141414;
    --grey-dark: #303030;
    --grey-mid: #545454;
    --grey-light: #A6A6A6;
    --teal-dark: #0097B2;
    --teal-mid: #0CC0DF;
    --teal-light: #5CE1E6;
    --lav-dark: #768EFF;
    --lav-mid: #A197EE;
    --lav-light: #ABBAFD;
    --pink-dark: #FF66C4;
    --pink-light: #FFAFDD;
}

body {
    background-color: var(--black);
    padding: 40px 50px;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 50px;
}

h1,
h2,
h3 {
    color: var(--grey-light);
}

h2 {
    margin: 20px 0;
}

p,
a {
    font-size: 1.2rem;
}

/* Homepage */

.index ol {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    column-gap: 50px;
    row-gap: 40px;
}

.index a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--grey-light);
    padding: 50px;
    aspect-ratio: 7/4;
    text-align: center;
    border-radius: 50px;
    background: var(--black);
    box-shadow:  -10px 10px 20px #0c0c0c,
    10px -10px 20px #1c1c1c;
    transition: all 0.3s ease;
}

.index a:hover {
    box-shadow:  -12px 12px 24px #0e0e0e,
    12px -12px 24px #1a1a1a;
    transform: translateY(-3px);
}

/* Inline and Block level elements demo */

.display a {
    color: var(--teal-light);
}

.display p {
    border: 1px solid var(--lav-light);
    color: #fff;
}

/* Box Model demo */

.box p:first-of-type {
    background-color: var(--lav-light);
}

.box p:nth-of-type(2) {
    background-color: var(--teal-light);
}

.box p:last-of-type {
    background-color: var(--pink-light);
}

/* Positioning demo */

.positioning p {
    width: 1200px;
    font-size: 1.2rem;
    border: 2px solid var(--grey-light);
    color: #fff;
}

.positioning p:first-of-type {
    background-color: var(--teal-dark);
}

.positioning p:nth-of-type(2) {
    background-color: var(--pink-dark);
}

.positioning a {
    background-color: var(--lav-mid);
}

/* Grid demo */

.grids {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    height: 100%;
    width: 100%;
    background-color: var(--lav-light);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
}

.grid div {
    background-color: var(--lav-dark);
    color: #fff;
    font-size: 3rem;
    /* height: 150px;
    width: 150px; */
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Pseudo class demo */

.pseudo-class label,
.pseudo-class p {
    color: #fff;
}

.pseudo-class button,
.pseudo-class input,
.pseudo-class label {
    font-size: 2rem;
}

.pseudo-class input:focus,
.pseudo-class input:active {
    outline: 0;
}

.pseudo-class .hover:hover,
.pseudo-class .focus:focus,
.pseudo-class .active:active {
    color: var(--pink-dark);
}

.pseudo-class input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.pseudo-class .checkbox:checked {
    outline: 3px solid var(--teal-light);
}

.pseudo-class .invalid:invalid {
    border: 5px solid red;
}

input:required {
    border: 5px solid #768EFF;
}

.pseudo-class a:link {
    color: var(--teal-mid);
}

.pseudo-class a:visited {
    color: var(--lav-mid);
}

.tree {
    /* border: 2px solid var(--pink-dark); */
    margin-bottom: 4px;
}

.tree:first-of-type {
    background-color: #FFAFDD;
}

.tree:nth-of-type(2) {
    background-color: #ABBAFD;
}

.tree:last-of-type {
    background-color: #0CC0DF;
}

/* Pseudo elements demo */

.pseudo-elem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.pseudo-elem .testimonial p {
    font-size: 1.75rem;
}

.pseudo-elem .testimonial {
    background-color: var(--teal-dark);
    color: #fff;
    width: 400px;
    /* height: 400px; */
    padding: 30px;
    position: relative;
}

.pseudo-elem .testimonial::before,
.pseudo-elem .testimonial::after {
    position: absolute;
    font-size: 10rem;
    color: var(--teal-light);
    line-height: 1;
    font-weight: bold;
}

.pseudo-elem .testimonial::before {
    content: '“';
    top: -45px;
    left: -30px;
}

.pseudo-elem .testimonial::after {
    content: '”';
    bottom: -110px;
    right: -30px;
}